.loginContainer{
    margin-top: 8;
    display: "flex";
    flex-direction: "column";
    align-items: "center"
  }

  label {
    display: block;
    margin-top: 10px;
    color: gray;
    font-weight: 400
  }
  
  .card-container.login-card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .login-card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .login-card input[type=submit]{
    margin-top: 20px;
    width:100%;
    background-color: #6d032b;
    border-color: #6d032b;
  }

  .login-card p{
    font-size:14px;
    > a{
      color:#6d032b;
      text-decoration: none;
      font-weight: 400;
    }
  }

  .login-card input[type=submit]:active{
    background-color: #6d032b;
    border-color: #6d032b;
  }

  .invalid-feedback{
    display: block !important;
  }

  .error-text,.success-msg,.message{
    text-align: center;
    margin-top: 10px;
    > p{
      margin-top: 10px;
    }
  }

  .spinner-class{
    text-align:center;   
    left: 50%; 
    position: absolute;
  }

  .header-nav{
    display: none;
  }

  .pass-wrapper {
    position:relative;
  }
  
  .pass-icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 40%;
    right: 5%;
    cursor: pointer;
    transform: translateY(-50%);
    opacity:0.6;
  }