.product-group{
    /* display:flex; */
    padding:10px;
    > .form-group{
        padding:10px;
        /* display: inline-flex;
        > label {
            padding-top: 8px;
            width:10%;
        } */
    }       
}

.product-group-buttons{
    display:flex;
    padding:5px;
    float:right;
    margin-top:-8px;
    /* > div{ */
        /* padding:8px; */
    /* }  */
}
.product-group .form-control{
    width:50%;    
}

.form-control-sm:focus,
.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #dee2e6 !important;
    }


.dataTables_length{
    padding-left:5px;
    > label{
        display: inline-flex;
        > select{
            margin:0px 5px;
        }
    }
}

.table {
    > thead tr th{
    background-color: #31254c !important;
    color:white;
    }
}

.pagination .active a{
    background: #31254c !important;
    border: 1px solid #31254c !important;   
}

.pagination .active{   
    >:focus{
        box-shadow: none !important;
    }
}

.delete-btn{
    float:right;
    margin-right:10px;
        > button{
            padding: 5px 12px;
        }
        > input, > input:hover {
            background-color: #F2AE43;
            border: #F2AE43;
        }
        > input:active{
            background-color: #ca9945 !important;
            border: #ca9945 !important;
        }
}
.cancel-btn{
        > input, > input:hover {
            background-color: #c1c3c5;
            border: #c1c3c5;
            color:#31254c
        }
        > input:active{
            background-color: #d4d8db !important;
            border: #d4d8db !important;
            color:#31254c !important;
        }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.expanded-container{
    max-height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cust-table{
    max-height:300px;
    overflow-x: hidden !important;
}
.table-responsive{
    max-height:450px;
    overflow-x: hidden !important;
}

thead {
    position: sticky;
    top: -1px;
    background-color: white;
  }

  .table-responsive,.cust-table {
    &::-webkit-scrollbar {
        width: 0.6rem;  
        height: 0.6rem;
    };
    &::-webkit-scrollbar-track {
        background-color: #d1d5d7;
    };
    &::-webkit-scrollbar-thumb {
        background-color: #31254c;
        border-radius: 2px;
    };
  }

  .expand-cell-header {
    pointer-events: none;
    }

    datalist {
        position: absolute;
        max-height: 20em;
        border: 0 none;
        overflow-x: hidden;
        overflow-y: auto;
      }
      
      datalist option {
        font-size: 0.8em;
        padding: 0.3em 1em;
        background-color: #ccc;
        cursor: pointer;
      }
      
      /* option active styles */
      datalist option:hover, datalist option:focus {
        color: #fff;
        background-color: #036;
        outline: 0 none;
      }

      #browserdata option {
        font-size: 1em;
        padding: 0.3em 1em;
        background-color: #ccc;
        cursor: pointer;
      }

      .invoice-container-head{
        display: grid;
        margin-top: 20px;
        margin-bottom: 10px;
        width:100%;
        grid-template-columns: 1fr 1fr;
      }
      .invoice-datalist{        
        width:300px !important;
        float:left;
        margin-top: 5px;
        
        > input {
            height:60%;
        }
      }

      .invoice-timeframe{
        > div{
        float:left;
        width:20%;
        margin-right:15px;
        margin-top: 3px;
        }
        > div:nth-of-type(3){
            float:right;
            width:50%;
            margin-top: 35px;
        }
      }
      .invoice-customers > div:nth-child(2){
      width: 20%;
      float: right;
      margin-right: 15px;
      margin-top: 3px;
      }

      .accordion-header :focus{
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
      }

      .accordion-body{
        min-height: 60px;
      }

    .dashboard-select{ 
     float: right;
    margin-bottom: 10px;     
}
.form-select{
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;        
}
.form-select:focus{
    border-color: rgb(222, 226, 230) !important;
}

.react-datalist-input__textbox:focus-visible{
    outline: rgb(222, 226, 230) !important;
}
thead{
    font-size:15px;
}
tbody{
    font-size:14px;
}
tr{
    height:40px;
}

.custom-word{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

body, html { 
    font-family: 'Vazir', sans-serif;
  }

  .table-input-control{
    width:100% !important;
    padding:0.2rem 0.75rem !important;
    margin-top:3px;
    font-size: 14px !important;
  }

  .edit-class{
    font-size: 10px;
}
.custom-table{
    width: auto !important;    
    > thead tr th{
        font-size:14px;
        background-color: #0fb367 !important;
    }
    >tbody tr{
        font-size: 12px;
        text-align: center;
        font-style: italic;
    }
    >tbody tr td:first-child, td:last-child{
        font-weight:700;        
    }
}

.info-class{
    font-style:italic;
    font-size: 14px;
}